<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net471" requireReinstallation="true" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net471" requireReinstallation="true" />
  <package id="siof.Common.Extensions" version="1.1.1" targetFramework="net471" />
  <package id="siof.Common.Helpers.ReaderWriterLock" version="1.0.1" targetFramework="net471" />
  <package id="siof.Common.NotifyObject" version="1.0.2" targetFramework="net471" />
  <package id="siof.Common.RelayCommand" version="1.0.0" targetFramework="net471" />
  <package id="siof.Common.Wpf" version="1.0.6" targetFramework="net471" />
  <package id="siof.Common.Wpf.DispatchedObservableCollection" version="1.0.2" targetFramework="net471" />
</packages>